*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-blue: hsl(238, 29%, 16%);
    --primary-text-red:  hsl(14, 88%, 65%);

    --gradient-start-violet: hsl(273, 75%, 66%);
    --gradient-end-blue:  hsl(240, 73%, 65%);

    --neutral-text-Dblue: hsl(237, 12%, 33%);
    --neutral-text-grayish-blue:  hsl(240, 6%, 50%);

    --divider-blue: hsl(240, 5%, 91%);

}


body{
    font-family:'Kumbh Sans', sans-serif;
    min-height: 100vh;
    background: linear-gradient( var(--gradient-start-violet), var(--gradient-end-blue) );
    padding: 10rem 1rem;
    color: var(--primary-text-blue);
}

.card-image img{
    width: 100%;
    display: block;
    height: auto;
    max-width: 15rem;
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    background-color: white;
    padding: 2.875rem 1.5rem;
    border-radius: 2rem;
    background-image: url("images/bg-pattern-mobile.svg");
    background-position: top;
    background-size: 15rem;
    background-repeat: no-repeat;
    position: relative;
}
.card-box{
    display: none;
}

.card-text{
    padding-top: 7rem;
}

.accordion-item{
    padding-top: 1rem;
    border-bottom: 1px solid var(--divider-blue) ;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    text-align: left;
    padding: .2rem;
    background-color: transparent;
    color: var(--primary-text-blue);
    font-size: .875rem;
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 1rem;
}

.question::after{
    content: '';
    display: block;
    background-image: url("images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10px;
    width: 10px;
    transition: all 250ms ease-in-out;
}


.question:focus, .question:focus-visible{
    border:none;
    outline: 1px dashed hsla(0, 0%, 0%, .5);
}

.content{
    padding-bottom: 1rem;
    font-size: .75rem;
    line-height: 1.4rem;
}

.question.open{
    font-weight: 700;
}
.question.open::after{
    transform: rotate(180deg);
}

.collapse{
    transition: height 300ms ease;
}

.fall{
    display: none;
}

.collapse.collapsing{
    height: 0;
    overflow: hidden;
}

.collapse.open{
    display: block;
}


@media (min-width: 900px){
    body{
        padding: 5rem;
        display: grid;
        place-content: center;
        
    }
    .card{
        display: flex;
        padding: 4.375rem 6.25rem 4.735rem 0;
        margin: 0 auto;
        background-image: url("images/bg-pattern-desktop.svg");
        background-position: -13% center;
        background-size: 45%;
        background-repeat: no-repeat;
        position: relative;
        max-width: 700px;
    }
    .card-box{
        display: block;
        position:absolute;
        top: 57%;
        z-index: 1;
        left: 0;
        transform: translate(-50%, -50%);
    }
    .card-image , .card-text{
        flex: 1;
    }

    .card-image{
        display: flex;
        align-items: center;
        overflow: hidden;
        
    }
    .card-image img{
        left: auto;
        top: auto;
        position: relative;
        max-width: 400px;
        transform: translatex(-4rem);
    }
    .card-text{
        padding-top: 0rem;
    }
    
}

